Desktopmagic==14.3.11
FreeSimpleGUI==5.1.0
keyboard==0.13.5
LatLon23==1.0.7
numpy==1.26.4
opencv_python==4.10.0.84
peewee==3.17.6
Pillow==10.4.0
pyperclip==1.9.0
pyproj==3.6.1
pytesseract==0.3.10
Requests==2.32.3
SLPP==1.2.3
